body {
  background-color: #070707;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

table.box {
  margin: 0 auto;
  border: 5px solid #444;
  background-color: #000000;
}

table.box th {
  background-color: #aaa;
  color: black;
  font-size: 18px;
  padding: 10px;
}

table.box td {
  padding: 1px;
}

table.box img {
  display: block;
  width: 250px;
  height: 160px;
  object-fit: cover;
  border: 2px solid #b6b1b1;
}
